/*roboto 400*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.App {
  position: relative;
  background-color: #061034;
}

h1 {
  font-size: 20px;
  letter-spacing: 1px;
}

p {
  font-size: 12px;
  font-weight: 300;
}

h3 {
  font-weight: 500;
}

@media (min-width: 368px) {
  h1 {
    font-size: 22px;
  }

  p {
    font-size: 1rem;
  }
}
