/*roboto 400*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --white-principal: #fefefe;
  --purple-principal-background: #1c193f;
  --blue-second-background: #0c1430;
  --yellow-principal: #ffdd00;
  --grey-dark: #5c5c5c;
  --violet-menu-dark: #19022c;
  --purple-cards: #433e7e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.App {
  position: relative;
  background-color: #061034;
}

h1 {
  font-size: 20px;
  letter-spacing: 0.5px;
}

p {
  font-size: 12px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
}

h3 {
  font-weight: 500;
}

@media (min-width: 368px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 21px;
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 25px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 22px;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1400px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 28px;
  }

  p {
    font-size: 24px;
  }
} ;
