.all__campaigns--section {
  color: white;
  display: flex;
  flex-direction: column;
}

.all__campaigns--title {
  text-align: center;
}

.carousel__container {
  display: flex;
  overflow-x: auto;
}

.button__show--container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.button__show--more {
  background-color: #1c193f;
  border: 2px solid #ffdd00;
  border-radius: 2rem;
  width: 10rem;
  height: 1.8rem;
  gap: 0.5rem;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button__show--more img {
  width: 2rem;
}

@media (min-width: 768px) {
  .carousel__container {
    padding-bottom: 3rem;
  }

  #carousel__container::-webkit-scrollbar {
    display: flex;
    height: 1.5rem;
    border: 3px solid #ffdd00;
  }

  #carousel__container::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #1c193f;
    border: 4px solid #ffdd00;
  }
}
