.comunities {
  background-color: #0c1430;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.comunities-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comunities-container:hover .card-secondary {
  opacity: 0.5;
}

.comunities-container:hover .card__principal {
  opacity: 0.5;
}

.comunities-container:hover .card-secondary:hover {
  opacity: 1;
}

.comunities-container:hover .card__principal:hover {
  opacity: 1;
}

.comunities__secondary--container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comunities__title {
  color: white;
  padding: 1rem;
}

.card__text {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem;
}

.background__image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}

.principal__card--text {
  height: 100%;
  background-color: #1c193f;
}

.card-secondary {
  display: flex;
  width: 276px;
  height: 208px;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  border: 1px solid transparent;
  transition: 0.5s;
  cursor: pointer;
}

.card-secondary:hover {
  border-color: white;
  transition: 0.5s;
}

.logo__image--container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.project-logo {
  object-fit: cover;
  width: 46px;
  height: 46px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.card__paragraph {
  font-size: 14px;
}

.card__principal {
  position: relative;
  width: 274px;
  height: 369px;
  background-color: #5c5c5c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.5s;
}

.card__principal:hover {
  border-color: white;
  transition: 0.5s;
}

.card__image {
  width: 100%;
  height: 50%;
}

.image__group {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start {
  font-size: 1rem;
}

.button__comunities--container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button__comunities--container button {
  background-color: #1c193f;
  color: white;
  border: 2px solid #ffdd00;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button__comunities--container button:hover {
  background: #393466;
  transition: 0.5s;
}

.arrow {
  width: 2rem;
}

@media (min-width: 368px) {
  .card-secondary {
    width: 300px;
    height: 230px;
  }
  .card__principal {
    width: 300px;
    height: 390px;
  }

  .card__paragraph {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .comunities-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .card-secondary {
    width: 342px;
    height: 226px;
  }

  .comunities__secondary--container {
    gap: 0.85rem;
  }

  .card__principal {
    width: 341px;
    height: 466px;
  }
  .comunities-container {
    gap: 0.85rem;
  }

  .button__comunities--container button {
    width: 10rem;
    height: 32px;
    border-radius: 3rem;
    border: 2px solid #ffdd00;
  }
}

@media (min-width: 1024px) {
  .card-secondary {
    width: 420px;
    height: 251.5px;
  }

  .comunities__secondary--container {
    gap: 0.5rem;
  }

  .card__principal {
    width: 420px;
    height: 508px;
  }
  .comunities-container {
    gap: 0.5rem;
  }

  .card__paragraph {
    font-size: 19px;
  }

  .button__comunities--container button {
    font-size: 16px;
    height: 32px;
  }
}

@media (min-width: 1280px) {
  .card__principal {
    width: 420px;
    height: 519px;
  }
  .comunities__secondary--container {
    gap: 1rem;
  }

  .comunities-container {
    gap: 1rem;
  }

  .card__paragraph {
    font-size: 19px;
  }

  .button__comunities--container button {
    width: 15rem;
    font-size: 18px;
  }
}
