.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.header__items--container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 40%;
  gap: 10%;
  list-style: none;
}

.list__items--container a {
  text-decoration: none;
  color: black;
}

.header__button {
  background-color: #c4c4c4;
  border: none;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-decoration: none;
}
